.mb-3 {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
  }
    
  .wood-background {
    background-image: url('Wood1.jpg');

  }
  
  .modal-content {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 20px;
    color: #333;
  }